:root {
    --secondary-text-color: #757575;
    --primary-text-color: #212121;
    --transparent-text: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --primary-white-color: #ffffff;
    --background-color: #2F303A;
    --background-color-secondary: #F5F4FA;
    --border-color: #ECECEC;
    --icon-color: #AFB1B8;
    --thumb-color: rgba(33, 150, 243, 0.9);
    --modal-btn-color:  rgba(0, 0, 0, 0.1);
    --modal-backdrop-color:  rgba(0, 0, 0, 0.2);

    /* grid item*/
    --items: 1;
    --indent: 30px;
  }