/*Секция преимущества*/
.benefits__section {
    padding-bottom: none;
    }
    
    .benefits-list {
      display: flex;
      align-items: center;
    
      flex-wrap: wrap;
      gap: var(--indent);
    }
    
    .benefits-item {
      --items: 4;
    }
    
    .benefits-list__h3-like {
      color: var(--primary-text-color);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    
      margin-bottom: 10px;
    }
    
    .benefits-list__p-like {
    color: var(--secondary-text-color);
    line-height: 1.7;
    }
    
    .benefits-item__meta {
      display: flex;
      min-width: 100%;
      min-height: 120px ;
      background-color: var(--background-color-secondary);
      justify-content: center;
      align-items: center;
    
      margin-bottom: 30px;
    
      border-radius: 4px;
    }
    