/*Секция услуги*/
.services-section {
    padding-top: 0px;
  }
  
  .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  
  }
  
  .services-list__item {
  --items: 3;
  
  position: relative;
  
  display: flex;
  align-content: center;
  justify-content: center;
  
  }
  
  .services-list__p-like {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background-color: rgba(47, 48, 58, 0.8);
  
  content: "";
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 70px;
  
  padding-top: 27px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  
  }
  