/*Секция присоединяйтесь*/

.join-box {

    width: 206px;
    height: 80px;
    
    margin-left: 70px;
    }
    
.join-box__title {
      color: var(--primary-white-color);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
    }
    
.join-social__list {
      display: flex;
      
      justify-content: center;
      align-items: center;
      margin-top: 16px ;
    
      list-style: none;
      padding: 0;
      margin: 0; 
    }
    
.join-social__link {
      display: flex;
      align-items: center;
      justify-content: center;
    
      width: 44px;
      height: 44px;
    
      background-color: rgba(255, 255, 255, 0.1);
     
      border-radius: 50%;
    
      transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
      
      &:hover,
      &k:focus {
              background-color: var(--accent-color);
            }

            &:hover .join-icon,
            &:focus .join-icon {
                    fill: var(--primary-white-color);
                  }
    }
    
.join-social__item {
    &:not(:last-child){
      margin-right: 10px;
      }
    }  
    
.join-icon {
        fill: var(--primary-white-color);
        transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
      }
      

      
